* {
  margin: 0;
}

body {
font-family: "Alumni Sans", sans-serif;
  background-color: #F4F2EB;
}

section {
font-family: "Alumni Sans", sans-serif;
}

h1 {
  color: #000000;
  font-family: 'Alumni Sans', sans-serif;
  text-align: center;
}

h2 {
  color: #000000;
  font-family: 'Alumni Sans', sans-serif;
  text-align: center;
}

h3 {
    color: #000000;
    font-family: 'Alumni Sans', sans-serif;
  }

p {
  font-size: 1.1em;
  color: #000000;
  font-family: 'Alumni Sans', sans-serif;
}

header,
footer {
  padding: 10px 10px;
}

footer, 
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rs img {
  display: flex;
  margin: 20px;
  height: 40px;
  width: 40px;
  border: none;
}

.rs div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex: auto;
  padding: 20px;
}

nav a {
  margin: 60px;
  font-size: 1.5em;
  color: #000000;
  text-decoration: none;
  font-family: "Alumni Sans", sans-serif;
}

nav div {
  text-align: center;
  margin: 30px;
}

header img, 
footer img {
    width: 250px;
    height: 200px;
}


