#titre h2 {
    color: #000000;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 3em;
    text-decoration: underline;
    font-weight: 600;
    padding: 10px;
}

section {
    display: grid;
    justify-content: center;
    align-items: center;
}

.lien-conteneur-photo {
    position: relative;
  }
  
  .photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .lien-conteneur-photo:hover .photo-hover {
    display: grid;
  }