#titre {
    padding: 30px;
    }
    
#titre h2 {
    color: #000000;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 3em;
    text-decoration: underline;
    font-weight: 600;
}

#contact {
    padding: 40px;
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 20px;
    justify-content: center;
}

.informations {
background-color: #7f2121;
}

.informations h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 60px;
}

.informations p {
    padding: 20px;
    font-size: 40px;
}

.informations img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

input[type=text], textarea, input[type=email], input[type=tel]{
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
button[type=submit][type=submit] {
    font-family: 'Alumni Sans', sans-serif;
    background: #000000;
    color: #fff;
    border-radius: 10px;
    font-size: 25px;
  }
  
button[type=submit]:hover {
    justify-content: center;
    background-color: #1f1c1c;
    font-family: 'Alumni Sans', sans-serif;
  }
  
.formulaire {
    padding:20px;
    height: 505px;
    width: 610px;
}

form {
    background-color:#F4F2EB;
    padding: 10px 50px 10px 50px;
}

label{
    font-family: 'Alumni Sans', sans-serif;
    font-size: 20px;
}